.center { 
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  width:70%; 
  
} 

.estiloh3 { 
  line-height: 1.1; 
  color: #268BD2; 
  
} 

.estiloh3b{ 
  font-family: 'Lobster'; 
  font-weight: 500; 
  line-height: 1.1; 
  color: #4d3a7d; }